<!DOCTYPE html>
<html>
  <head>
  	{% load static %}
  	<meta charset="utf-8">

  	<title>{% block title %}Game Store{% endblock %}</title>
  	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

   <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
     {% block stylesheet %}{% endblock %}  <!-- APPLY -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script>
     /* global $ */
     $(document).ready(function() {
       'use strict';
       $(window).on('message', function(evt) {
         //Messages from all origins are accepted
         //NOTE TODO! CSRF tokens not implemented yet, no extempt in view

         //data from the message
         var data = evt.originalEvent.data;

   			if (data.messageType == "SAVE"){
   				alert("Save");

   			} else if(data.messageType == "SCORE") {

          //Sending the ajax post to the server, directing to the "savescore" url => directed to savescore view.
          $.ajax({
            type : "POST",
            url : "savescore",
            data : { 'jsondata' : JSON.stringify(data)}, //Alternative? => data : { 'score': data.score},
            dataType: 'json',
            success : function(data) {
                $('#score').html(data); //Changes the content of a #score span in highscores.html
                alert("Game score saved succesfully!");
            },
            error : function() {
              console.log("SCORE: An error occurred!")
            }
          })
   			} else if(data.messageType == "LOAD_REQUEST") {
   				alert("Load request");
   			} else if(data.messageType == "LOAD") {
   				alert("Load");
   			} else if(data.messageType == "ERROR") {
   				alert("error");
   			} else if(data.messageType == "SETTING") {
   				alert("Setting");
   			}
       });
     });

   </script>

  </head>
  <body>
     {% block body %}  <!-- HERE -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">Home page</a>
         <!-- <a class="navbar-brand" href="{% url 'login' %}">Login</a> -->
          <a class="navbar-brand" href="{% url 'signup' %}">Signup</a>
          {% if user.is_active %}
          <a class="navbar-brand" href="{% url 'addgame' %}">Add Game</a>
          <a class="navbar-brand" href="/games">Games</a>
          <a class="navbar-brand" href="/logout">Logout</a>
          <p class="navbar-brand">Hi {% firstof user.get_short_name user.get_username %}!</p>
          {% else %}
            <a class="navbar-brand" href="{% url 'login' %}">Login</a>
          {% endif %}
        </div>


      </nav>
      <div class="container">
       <!-- ei toimi <ol class="breadcrumb my-4">
          {% block breadcrumb %}
          {% endblock %}
        </ol> -->
        {% block content %}
        {% endblock %}
      </div>
    {% endblock body %}  <!-- AND HERE -->
  </body>
</html>
