<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Game Store{% endblock %}</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Bootstrap -->


    <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet" media="all">
    <link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet" media="all">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">

    <!-- jQuery first then JS-->
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>




    <!-- Our own stylesheet  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script href="{% static 'js/scripts.js' %}"></script> <!-- Turha? -->

   <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
   {% block stylesheet %}{% endblock %}  <!-- APPLY -->

  </head>
  <body>
     {% block body %}  <!-- HERE -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--<p>{{ perms.webapp }}</p>-->
        <div class="container">
          {% if not request.get_full_path == "/" %}
          <a class="navbar-brand" href="../"><i class="fas fa-arrow-left"></i></a>
          {%endif%}
          <a class="navbar-brand" href="{% url 'index' %}">Home page</a>

          {% if not user.is_active %}
          <a class="navbar-brand" href="{% url 'signup' %}">Signup</a>
          {% endif %}

          {% if user.is_active %}
            {% if perms.webapp.add_game %}
          <a class="navbar-brand" href="{% url 'addgame' %}">Add Game</a>
            {% endif %}
          <a class="navbar-brand" href="/games">Games</a>

          {% if cart.games|length > 0 %}
          <a class="navbar-brand" href="{% url 'games:cart' %}">Cart</a>
          {% endif %}

          <a class="navbar-brand" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
          <p class="navbar-brand">Hi {% firstof user.get_short_name user.get_username %}!</p>
          {% else %}
            <a class="navbar-brand" href="{% url 'login'%}?next={{request.path}}">Login</a>
          {% endif %}
        </div>
      </nav>
      <div class="container">
       <!-- ei toimi <ol class="breadcrumb my-4">
          {% block breadcrumb %}
          {% endblock %}
        </ol> -->
        {% block content %}
        {% endblock %}
      </div>
    {% endblock body %}  <!-- AND HERE -->
  </body>
</html>
