{% extends "base.html" %}
{% load static %}

{% block title %}Cart{% endblock %}

{% block content %}
<div class="container top-contaier">


<div class="" style="max-width: 700px;">


        {% if cart.games %}
        <h1 class="cart-header" id="local-title">Cart</h1>
        {% for game in cart.games %}
            <div id="game-{{game.id}}" class="card bg-light border-secondary mb-3 cart-item">

                <div class="card-block ">
                    <h5 class="">{{ game.name }}</h5>
                    <span class="card-text"> By: {{game.developer}}</span>
                    <span class="price-tag">Price: {{game.price}}</span>

                    <div class="d-flex justify-content-end">
                        <span class="gameRemove badge badge-danger badge-button" onclick="removeList({{ game.id }})">REMOVE</span>
                    </div>
                </div>

            </div>


        {% endfor %}



        <div style="padding-top: 10px;clear: both;">
            <hr>
            <a class="btn btn-secondary .btn-sm" href="/games/" role="button"> Continue shopping</a>
            <form action="{% url 'games:orders' %}" method="POST">
                {% csrf_token %}
            <input type="submit" class="btn btn-success btn-block" value="Go to checkout">
            </form>
        </div>

        {% else %}

        <h1 class="cart-header" id="local-title">Cart is empty</h1>
        <hr>
        <a type="button" class="btn btn-secondary" href="/games/">Look for games</a>
        {% endif%}

</div>
</div>
{% endblock %}
