{% extends "base.html" %}
{% load static %}

{% block title %}Show cart{% endblock %}

{% block content %}


    <div class="form-signin"  style="max-width: 500px;">
        <h1 class="cart-header" id="local-title">Cart</h1>


        {% for game in cart.games %}
            <div card="card">
                <div class="card-block" id="game-{{game.id}}">
                    <p>{{ game.name }}</p>
                    <p><span>Price: {{game.price}}</span>

                        <span class="btn btn-danger gameRemove" onclick="removeList({{ game.id }})">REMOVE</span></p>
                </div>
            </div>
                
        {% endfor %}

        <div style="padding-top: 10px;clear: both;">
            <hr/>
            <form action="{% url 'games:orders' %}" method="POST">
                {% csrf_token %}
            <input type="submit" class="btn btn-success" value="Send Order">
            </form>
        </div>

    </div>

     <script type="text/javascript">

        //add active class to the navbar item
        $( "#navbar-Profile" ).addClass('active');

        //initialize the table
        $( document ).ready(function() {
            $("#tableId").bootstrapTable();
        });

        //this function is used to remove a game from the cart.
        // It notifies to the server and remove the game from the user interface.
         function removeList(gameid) {
            $.ajax({
                method:'POST',
                url: "{% url 'games:cart' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token  }}",
                    game:gameid,
                    action:'remove'
                },
                success:function(data) {
                    if (data.error) {
                        alert("Error: " + data.error);
                    }
                    else{
                        $('#game-'+gameid).fadeOut(400,function(){this.remove()});
                    }
                },
                error: function (data) {
                    if (data.error) {
                        alert("There was a problem during the request. Please try again.");
                    }
                }
            })
        }
     </script>

{% endblock %}