{% block content %}
<div id="score">
{% if passedallscores %}
<p>First option</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User</th>
      <th scope="col">Score</th>
    </tr>
  </thead>

  <tbody>
    {% for score in passedallscores %}
    
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{score.user}}</td>
      <td>{{score.score}}</td>
    {% endfor %}

  </tbody>
</table>

{% else %}
<p>Second option</p>
<table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User</th>
          <th scope="col">Score</th>
        </tr>
      </thead>

    <tbody>
      {% for state in view.gamestate %}
    
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{state.user}}</td>
        <td>{{state.score}}</td>
      {% endfor %}
    </tbody>

</table>

{% endif %}




<br>
{% if passedscore %}
<p>Third option</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      {% for score in passedallscores %}
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{score.user}}</td>
        <td>{{score.score}}</td>
      {% endfor %}
    </tbody>
  </table>

  <p><b>Your own highscore: {{passedscore}}</b></p>

{% elif view.highscore %}
  {% if view.highscore.score ==  0 %}
    <p>You haven't scored yet!</p>
  {% else %}
    <p><b>YOUR TOP SCORE: {{view.highscore.score}}</b></p>
{% endif %}

{% else %}
  <p>There was a problem loading your score</p>
{% endif %}
</div>
{% endblock %}
