{% block content %}
<br>
{% if passedscore %}
  <p>Your own highscore is now: {{passedscore}}</p>
{% elif view.highscore %}
  {% if view.highscore.score ==  0 %}
    <p>You haven't scored yet!</p>
    {% else %}
    <p><b>Your own highscore: <span id="score">{{view.highscore.score}}</span></b></p>
    {% endif %}
{% else %}
<p>There was a problem loading your score</p>
{% endif %}

<br>
<h4>Your main competitors:</h4>
<p><i> = Top scores excluding your own</i></p>
{% for state in view.gamestate %}
<p>{{state.user}}: {{state.score}}</p>

{% endfor %}

{% endblock %}
