{% block content %}
<div id="score">
<br>
<h5>HIGHSCORES:</h5>
{% if passedallscores %}
  {% for score in passedallscores %}
    <p>{{score.user}}: {{score.score}}</p>
  {% endfor %}
{% else %}
  {% for state in view.gamestate %}
    <p>{{state.user}}: {{state.score}}</p>
    {% endfor %}
{% endif %}

<br>
{% if passedscore %}
  <p><b>Your own highscore: {{passedscore}}</b></p>

{% elif view.highscore %}
  {% if view.highscore.score ==  0 %}
    <p>You haven't scored yet!</p>
  {% else %}
    <p><b>YOUR TOP SCORE: {{view.highscore.score}}</b></p>
{% endif %}

{% else %}
  <p>There was a problem loading your score</p>
{% endif %}
</div>
{% endblock %}
