{% extends "base.html" %}

{% block title %}Game order of {{user}}{% endblock %}

{% block content %}
<div class="container top-contaier">

    <div class=""  style="max-width: 700px;">
        <h1 class="cart-header" >Order</h1>
        {% for game in cart.games %}
<!--         <p class="lead gameName">{{ game.name }} <span>{{ game.price }}</span></p> -->
        <div id="game-{{game.id}}" class="card bg-light border-secondary mb-3 cart-item">
            
            <div class="card-block ">
                <h5 class="">{{ game.name }}</h5>
                <span class="card-text"> By: {{game.developer}}</span>
                <span class="price-tag">Price: {{game.price}}</span>
            </div>

            </div>
        {% endfor %}


        <form action="{{ action }}" method="POST" id="purchaseForm">
            <input type="hidden" name="pid" value="{{ pid }}" />
            <input type="hidden" name="sid" value="{{ sid }}" />
            <input type="hidden" name="success_url"
                    value="{{ success_url }}" />
            <input type="hidden" name="cancel_url"
                    value="{{ cancel_url }}" />
            <input type="hidden" name="error_url"
                    value="{{ error_url }}" />
            <input type="hidden" name="checksum"
                    value="{{ checksum }}" />

            <div class="form-inline amount-tag">
                <label for="id_amount" >Total amount: &nbsp;</label>
                <input readonly type="text" id="id_amount" name="amount" value="{{ amount }}" class="amount-tag form-control mb-1 mr-sm-1"/ >
            </div>

            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Pay"/>
        </form>


    </div>
</div>

{% endblock %}