{% extends 'base.html' %}
{% block title %}Play {{game.name}}{% endblock %}

{% block content %}
 {% load static %}

<!-- User does not own the game -->
{% if game not in request.user.profile.games.all and game.price != 0 %}

<script type="text/javascript">

	function game_to_cart(gameid) {
		$.ajax({
			method: 'POST',
			url: "{% url 'games:cart' %}",
			data: {
				csrfmiddlewaretoken: "{{ csrf_token  }}",
                game: gameid,
                action:'add'
			},

			success:function(data) {
				if (data.error){
					alert("An error occurred.");
				} else {
					window.location.href = "{% url 'games:cart' %}"
				// 	alert("The game was added to the cart.");
				}
			},

			error: function(data) {
				if (data.responseJSON && data.responseJSON.error) {
					alert(data.responseJSON.error);
				}else if (data.status = 403) {
					alert("You are not allowed to purchase this game.");
				}else if (data.status == 400) {
					alert("Game already in the cart.");
				}else{
					alert("Unexpected error occurred. Please refresh page and try again.");
				}
			},
		})
}



</script>

<input type="hidden" id="gameobject" name="gameobject" value="{{game}}"/>
<input type="hidden" id="profileobject" name="profileobject" value="{{user.profile}}"/>

<!-- VIEW FOR GAME NOT IN USER INVENTORY -->

<a href="../">Back</a>
<div class="game">

	<h3>{{ game.name }}</h3>
	<hr>
	<iframe src="{% static "img/NoAccess.png" %}" height="500" width="700" style="border:none;"></iframe>

	<section>
		<p id="sec-header"> <i class="fas fa-caret-down"></i> Purchase</p>
		<div class="snippet">
			<div>
				<span id="price">{{game.price}} €</span>
				<button type="button" class="btn-success" onclick="game_to_cart({{game.id}})"><i class="fas fa-cart-plus"> </i></a> PURCHASE</button>
			</div>

		</div>

		<p id="sec-header"> <i class="fas fa-caret-down"></i> Description</p>
		<div class="snippet">
			<p>{{game.description}}</p>
		</div>
<br>
  <!--  <p id="sec-header"> <i class="fas fa-caret-down"></i></p>-->
		<div class="snippet">
      <h5><u>Highscores</u></h5>
      {% for state in view.gamestate %}
      <p>{{state.user}}: {{state.score}}</p>
      {% endfor %}
		</div>
	</section>

 </div>

<div class="gamedetails">
	<h4>{{game.name}}</h4>
	<p>Game By: {{game.developer}}  &nbsp; | &nbsp;  <i class="far fa-clock"></i> Added on {{game.pubDate}}</p>
</div>


<!-- VIEW IF GAME IS IN INVENTORY -->
{% else %}
<a href="../">Back</a>
<div class="game">
	<h3><a href="{{game.url}}">{{ game }}</a></h3>
	<hr>
	<iframe src="{{game.url}}" id="gameframe" height="500" width="700" style="border:none;"></iframe>

	<section>
		<p id="sec-header"> <i class="fas fa-caret-down"></i> Description</p>
		<div class="snippet">
			<p>{{game.description}}</p>
		</div>

	<p id="sec-header"> <i class="fas fa-caret-down"></i> Highscores</p>
	<div class="snippet">

		<div class="link">
			{% include "games/highscores.html" %}
			<!--{% if view.highscore %}
  			<p>Your own highscore: {{view.highscore.score}}</p>
			{% else %}
			<p>You haven't scored yet</p>
			{% endif %}-->
		</div>

		<ul id="actions">

		</ul>
	</div>
	</section>
 </div>

<div class="gamedetails">
	<h4>{{game.name}}</h4>
	<p>Game By: {{game.developer}}  &nbsp; | &nbsp;  <i class="far fa-clock"></i> Added on {{game.pubDate}}</p>
</div>
{% endif %}


{% endblock %}
