{% extends 'base.html' %}

{% block title %}Developed games{% endblock %}

{% block content %}
{% load static %}
<br>
<a href="{% url 'developer:game-add' %}"> Add game</a>
{% if all_games %}

<h3 class="gallery" id="top">Games developed by you</h3>


<a href="{% url 'developer:game-add' %}"> Add game</a>

<ul class="gallery">
	{% for game in all_games %}
		{% if game.developer == request.user.profile %}
		<li class="card bg-dark">
			<img class="card-image-top" src="{% static "img/NaN.png" %}" alt="Image not found"/>
			<h4 class="game-name text-white ellipsis"><a href="/developer/{{ game.id }}/">{{ game.name }}</a></h4>

			<a class="btn btn-secondary btn-sm" href="{% url 'developer:game-update' game.id %}" role="button"><i class="fas fa-edit"></i></a>
	

			<form action="{% url 'developer:game-delete' game.id %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="game_id" value="{{ game.id }}">

				<button type="submit" class="btn btn-secondary btn-sm">
					<i class="fas fa-trash-alt"></i> 
				</button>
				
			</form>

			<p class="text-white foot">Developer: <span class="badge badge-pill badge-secondary">{{game.developer}}</span></p>
				}


</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>


{% else %}
	<h3>No games to show</h3>
{% endif %}

{% endblock %}
