
/*GAME STORE LIST*/


#library{
	background-color: #bcdbbd
}

h3.gallery {
	padding: 15px 0;
	clear: both;
	width: 100%;
}

.gallery li {
	background-color: #cccccc;

    display: inline;
    list-style: none;
    width: 195px;
    height: 220px;
    float: left;
    margin: 0 10px 10px 0;
    text-align: left;

    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

.gallery li img{
	border-color: #cccccc;
	border-width: 1px;
	border-style: solid;
}

.gallery li h4 {
	margin: 10px 20px;
	font-size: 16px;
}

.gallery li p {
	margin: 5px 20px;
}

.gallery li a {
	text-decoration: none;
}

/*SINGLE GAME*/

div.game {
	background-color: grey;
	width: 100%
}

div.game h3 {
	padding: 20px 20px 0 20px;
	font-style: bold;
	text-transform: uppercase;
}

div.game h3 a{
	text-decoration: none;
	color: white;
}

div.game iframe {
	margin: 20px 0 20px 20px;
}

div.game hr {
	width: 97%;
	margin: 0 0 0 20px;
}

div.game section {
	background-color: lightgrey;
	float:right;

	margin: 20px 15px 0 0;
	width: 390px;
	height: 500px;
}

#price {
	background-color: #5cb85c;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-weight: 800;
    color: white;
    display:inline-block;
    height: 25px;
    width: 60px;
    text-align: center;
    vertical-align: center;

    border-bottom: 2px solid black;
}

.snippet {
	background-color: whitesmoke;
	margin: 0 10px;
	padding: 5px ;
}

.snippet a {
	text-decoration: none;
	color: white; 
}

#sec-header {
	margin: 20px 0 0 10px;
	font-weight: 600;
}

div.gamedetails{
	background-color: whitesmoke;
}

div.gamedetails p {
	padding-bottom: 1.5%;
	margin-left: 30px
}

div.gamedetails h4 {
	padding-top: 1.5%;
	margin-left: 30px;
}


/*STORE*/

.done{
    color: green;
}

.error{
    color: red;
}

/*CART*/

.card {
	margin: 25px 0;

}