#site-nav {
	height: 80px;
}

#back-arrow{
	position: absolute;
	left: 40px;
}

#cart {
	position: absolute;
	left: 80px;
}


/*GAME STORE LIST*/


#library{
	background-color: #bcdbbd
}

h3.gallery {
	padding: 15px 0;
	clear: both;
	width: 100%;
}

#top {
	padding-top: 30px;
}

.gallery li {
	background-color: #cccccc;

    display: inline;
    list-style: none;
    width: 195px;
    height: 265px;
    float: left;
    margin: 0 10px 10px 0;
    text-align: left;

    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;

}

.ellipsis {
    overflow: hidden;
    height: 3em;
    line-height: 1.5em;
    font-size: 16px;
}
.ellipsis:before {
    content:"";
    float: left;
    width: 5px;
    height: 3em;
}
.ellipsis > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}
.ellipsis:after {
    content:"\02026";
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    float: right;
    position: relative;
    top: -25px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
}



.gallery li img{
	border-color: #cccccc;
	border-width: 1px;
	border-style: solid;
}

.gallery li h4 {
	margin: 10px 20px;
	font-size: 16px;
}

.gallery li p {
	margin: 5px 20px;
}

.gallery li a {
	text-decoration: none;
}

/*SINGLE GAME*/

div.game {
	background-color: grey;
	width: 100%;
	min-height: 600px;
}

div.game h3 {
	padding: 20px 20px 0 20px;
	font-style: bold;
	text-transform: uppercase;
}

div.game h3 a{
	text-decoration: none;
	color: white;
}

div.game iframe {
	margin: 20px 0 20px 20px;
}

div.game hr {
	width: 97%;
	margin: 0 0 0 20px;
}

div.game section {
	background-color: lightgrey;
	float:right;

	margin: 20px 2.5% 0 0;
	width: 30%;
	height: 500px;
}

#price {
	background-color: #5cb85c;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-weight: 800;
    color: white;
    display:inline-block;
    height: 25px;
    width: 60px;
    text-align: center;
    vertical-align: center;

    border-bottom: 2px solid black;
}

.snippet {
	background-color: whitesmoke;
	margin: 0 10px;
	padding: 5px ;
}

.snippet a {
	text-decoration: none;
	color: white;
}

#sec-header {
	margin: 20px 0 0 10px;
	font-weight: 600;
}

div.gamedetails{
	background-color: whitesmoke;
}

div.gamedetails p {
	padding-bottom: 1.5%;
	margin-left: 30px
}

div.gamedetails h4 {
	padding-top: 1.5%;
	margin-left: 30px;
}


/*STORE*/

.done{
    color: green;
}

.error{
    color: red;
}

/*CART*/

.card {
	margin: 25px 0;

}
