/*NAVIGATION*/
body, html {
    width: 100%;
  height: 100%;
}
body {
    background:#719FB2;
    padding-top: 63.64px;
    margin-bottom: 63.64px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
    padding-top: 63.64px;
  }
}

h1, h2, h3, h4, h5 {
  color: #FCF7F8!important;
  font-family: 'Signika', sans-serif;
}

p {
  font-family: 'Maven Pro', sans-serif;
}

input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#inventory_selection {
  width: 140px;
  margin-left: 15px;
}


.small-buttons {
  height: 15px;
  margin-top: 10px;
}

.small-buttons a {
  float:left; 
  margin-right: 10px;
}

.card-item img {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
}

.card-item > .card-title {
  margin-top: 15px;
}

#navigationbar{
	/* margin-bottom: 70px; */
	opacity: 1;

}

#back-arrow{
	position: absolute;
	left: 40px;
}

#cart {
	position: absolute;
	left: 80px;

}

.navbar-toggler {
	border: none!important;
	color: #FCF7F8!important;
}

.main-container {
	padding-top: 80px;
	margin-top: 100px;
	padding-bottom: 40px;
}


.logo-holder {
	width: 50px;
	position: relative;
	left: 45%;
	transform: translateX(-50%);
}
.logo-holder img {
	width: 100%;
	height: auto;
}
button:focus {
	outline:0;
}

.navbar-collapse ul {
	position: absolute;
	right: 15px;
/* float: right; */	
}

@media (max-width: 576px) {
 
    .navbar-collapse ul {
    	position: relative;
    	right: 0px;
    	float: right;
    }
}

.dropdown-menu {
	background-color: #FCF7F8;
	border-radius:0;
}

#site-nav {
	padding: .8rem 1rem;
}

/*GAME STORE LIST*/

.nav-item > .navbar-text-item {
	font-size: 14px;
	color: #5B5B5D;
	margin-right: 15px;
	text-decoration: none;
}
.nav-item > .navbar-text-item:hover {
	color: black;
}

.dropdown-menu {
	border:none!important;
	
}

.dropdown-menu > .dropdown-item {
	color: #5B5B5D;
    font-size: 14px;
}

#navigationbar > .navbar {
	background-color: #FCF7F8;
}

#library{
	background-color: #bcdbbd
}

h3.gallery {
	padding: 15px 0;
	clear: both;
	width: 100%;
}

#top {
	padding-top: 30px;
}

.gallery li {
	background-color: #cccccc;

    display: inline;
    list-style: none;
    width: 195px;
    height: 265px;
    float: left;
    margin: 0 10px 10px 0;
    text-align: left;
}


/*
Copyright (c) 2018 by Jason Hee (https://codepen.io/jasonheecs/pen/GNNwpZ)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/


.gallery li {
  transition: transform .5s;
}
.gallery li::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  content: '';
  opacity: 0;
  z-index: -1;
}
.gallery li:hover, .gallery li:focus {
  transform: scale3d(1.006, 1.006, 1);
}
.gallery li:hover::after, .gallery li:focus::after {
  opacity: 1;
}

/*License ends here*/

.game-name a {
	color: #FCF7F8;
}

.game-name a:hover{
	color: grey;
}

.ellipsis {
    overflow: hidden;
    height: 3em;
    line-height: 1.5em;
    font-size: 16px;
}
.ellipsis:before {
    content:"";
    float: left;
    width: 5px;
    height: 3em;
}
.ellipsis > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}
.ellipsis:after {
    content:"\02026";
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    float: right;
    position: relative;
    top: -25px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
}


.gallery li h4 {
	margin: 5% 10%  0% 10%;
	font-size: 16px;
}

.gallery li p {
	margin: 5px 20px;
}

.gallery li a {
	text-decoration: none;
}

#game-img {
	max-height: 100%;
	max-width: 100%;
	height: 152px;
	width:194px ;
	object-fit: contain
}

/*SINGLE GAME*/

div.game {
	background-color: #343a40;
	width: 100%;
	min-height: 500px;
}

div.game h3 {
	padding: 20px 20px 0 20px;
	font-style: bold;
	text-transform: uppercase;
}

div.game h3 a{
	text-decoration: none;
	color: #FCF7F8;
}

.nav-element {
	margin-top: 10px;
	max-height: 500px !important; /*Overrides bootstrap default of 350px */
}


ul.game-share {
	list-style-type: none;

}

ul.game-share li a {
	color: black;
}


#price {
	background-color: #28a745;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-weight: 800;
    color: #FCF7F8;
    display:inline-block;
    height: 30px;
    width: 60px;
    text-align: center;
    vertical-align: center;

    padding: 2px 0 1px 0;

    border-bottom: 2px solid black;
}

#game-name {
	padding: 10px 0 10px 0;
}

#game-name a {
	color: #FCF7F8;
	text-decoration: none;
}

#sec-header {
	margin: 10px 0;
	font-weight: 600;
}

#game-info {
	background-color: #cecece;
	min-width: 100%
}

.game-footer {
	margin-top: 2%;
}

#nav-tab a {
	color: grey;
}



/* DEVZONE */

#id_developer {
	/* display: none;  miks tämä on olemassa? */
}

.dev-buttons a, form{
	float: left;
	margin-right: 5px;
}

.dev-buttons {
	margin-top: 50%;
	height: 10%;
}



/*STORE*/

.done{
    color: green;
}

.error{
    color: red;
}

/*CART*/

.cart-item {
	padding: 10px;
}

.price-tag {
	float: right;
}

.badge-button {
	cursor: pointer;
}

.cart-header {
	padding: 10px 0;
}

/*ORDER*/

.amount-tag {
	float: right;
	margin-bottom: 1%;
}

@media (min-width: 768px) {
	.pull-md-right {
    	float: right!important;
	}
}

.logo-holder img:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.pulse {
	animation-name: pulse_animation;
	animation-duration: 3000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.navbar-toggler {
	color: #5B5B5D!important;
}

.page-container {
  min-height: 100%;
}
.dropdown-menu {
	left: -95px!important;
}

.top-contaier {
  margin-top: 20px;
}

.login-container > .row > .col-md-12{
  margin-bottom: 15px;
}

@-webkit-keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}










