{% extends 'base.html' %}

<head>
	{% block stylesheet %}
	{% load static %}
    <!-- Rain -->
    <script type="text/javascript" src="{% static 'js/rain.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/rain.css' %}">
    {% endblock %}

</head>
{% load static %}

{% block title %}Front Page{% endblock %}



{% block content %}

<div class="page-header section-header" style="text-align:  center;margin-top: 100px; z-index: 100;">
	<h1 style="color:white;">Want to play a game?</h1>
	<p class="secondary-header" style="color:white;">Yes you do.</p>
	<a class="navbar-text-item" href="/games"><button class="btn btn--stripe btn--large">Play Games</button></a>
</div>

{% if user.is_active %}
<!--<p> Your name is {{user}}</p>
<p>Your bio is {{user.profile.bio}}</p>
<p>Your games are:</p>
{% for game in request.user.profile.games.all %}
  <li>{{ game.name }}</li>
{% empty %}
  <p>No games!</p>
{% endfor %}-->
{% endif %}

<br>


{% endblock %}
