{% extends 'base.html' %}

<head>
	{% block stylesheet %}
	{% load static %}
    <!-- Rain -->
    <script type="text/javascript" src="{% static 'js/rain.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/rain.css' %}">
    {% endblock %}

</head>
{% load static %}

{% block title %}Front Page{% endblock %}



{% block content %}

<div class="page-header section-header" style="text-align:  center;margin-top: 200px; z-index: 100;">
	<h1 style="color:white;">Want to play a game?</h1>
	<p class="secondary-header" style="color:white;">Yes you do.</p>
</div>

<br>


{% endblock %}
