<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Game Store{% endblock %}</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Bootstrap -->


    <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet" media="all">
    <link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet" media="all">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link href="{% static 'css/bootstrap-table.css' %} " rel="stylesheet" media="all">

    <!-- jQuery first then JS-->
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-table.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>

    <!-- Our own stylesheet  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <!--  <script href="{% static 'js/scripts.js' %}"></script>  Turha? -->

   <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
   {% block stylesheet %}{% endblock %}  <!-- APPLY -->

  </head>

  <body>
     {% block body %}  <!-- HERE -->
      <nav class="navbar navbar-dark bg-dark" id="site-nav">
        <!--<p>{{ perms.webapp }}</p>-->
        <div class="container">

          {% if not request.get_full_path == "/" %}
          <a id="back-arrow" class="navbar-brand navbar-left" href="../"><i class="fas fa-arrow-left"></i></a>
          {%endif%}


          <a id="cart" class="navbar-brand navbar-left" href="{% url 'games:cart' %}"><i class="fas fa-shopping-cart"></i></a>

          <a class="navbar-brand navbar-left" href="{% url 'index' %}">Home page</a>

          {% if not user.is_active %}
          <a class="navbar-brand" href="{% url 'signup' %}">Signup</a>
          {% endif %}


          <a class="navbar-brand" href="/games">Games</a>

          {% if user.is_active %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">


              <p class="navbar-brand">
              Hi {% firstof user.get_short_name user.get_username %}!</p>

            <div class="dropdown-menu">

              <a class="dropdown-item" href="{% url 'games:cart' %}">Cart</a>

              {% if user.is_active %}
                {% if perms.webapp.add_game %}
                 <a class="dropdown-item" href="{% url 'addgame' %}">Add Game</a>
                {% endif %}
              {% endif %}
              <a class="dropdown-item" href="#">Profile</a>
              <div class="dropdown-divider"></div>

              <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">Logout</a>

            </div>
          </li>

          {% else %}
              <a class="navbar-brand" href="{% url 'login'%}?next={{request.path}}">Login</a>
              {% endif %}
            </a>

        </div>
      </nav>
      <div class="container">
       <!-- ei toimi <ol class="breadcrumb my-4">
          {% block breadcrumb %}
          {% endblock %}
        </ol> -->
        {% block content %}
        {% endblock %}
      </div>
    {% endblock body %}  <!-- AND HERE -->
  </body>
</html>
