<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Game Store{% endblock %}</title>
    <!-- Fonts
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->

    <!-- Bootstrap -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TP795MG');</script>
    <!-- End Google Tag Manager -->


    <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet" media="all">
    <link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet" media="all">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link href="{% static 'css/bootstrap-table.css' %} " rel="stylesheet" media="all">

    <!-- jQuery first then JS-->
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-table.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>

    <!-- Our own stylesheet  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <!--  <script href="{% static 'js/scripts.js' %}"></script>  Turha? -->

   <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
   {% block stylesheet %}{% endblock %}  <!-- APPLY -->
   {% block meta %}{% endblock %}
  </head>

  <body>
     {% block body %}
    <div id="navigationbar">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" id="site-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="navbar-brand navbar-left" href="{% url 'index' %}">Home</a>
            </li>

            {% if not user.is_active %}
            <li class="nav-item">
              <a class="navbar-brand" href="{% url 'signup' %}">Signup</a>
            </li>
            {% endif %}

            <li class="nav-item">
              <a class="navbar-brand" href="/games">Games</a>
            </li>

            {% if user.is_active %}
            <li class="nav-item dropdown">
              <a class="dropdown-toggle navbar-brand" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% firstof user.get_short_name user.get_username %}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                <a class="dropdown-item" href="{% url 'games:cart' %}"><i class="fa fa-shopping-cart"></i> Cart</a>
                {% if user.is_active %}
                  {% if perms.webapp.add_game %}
                   <a class="dropdown-item" href="/developer"><i class="fa fa-code"></i> Developer Portal</a>
                  {% endif %}
                {% endif %}

                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>



                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}"><i class="fa fa-power-off"></i> Logout</a>

              </div>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="navbar-brand" href="{% url 'login'%}?next={{request.path}}"><i class="fa fa-power-off"></i> Login</a>
            </li>
            {% endif %}




          </ul>
        </div>

      </nav>

        </div>
      </nav>
</div>
    {% endblock body %}

    <!-- FOR CONTENT!!! DO NOT REMOVE -->
    {% block content %}

    {% endblock content %}

  </body>
</html>
